@use "@gear-js/ui/variables" as *;

.card {
	padding: 15px 20px;
	font-size: $fontSizeMedium;
	border: 1px solid;
	border-image: linear-gradient(
			120deg,
			rgba(35, 79, 153, 1) 0%,
			rgba(35, 120, 184, 1) 45%,
			rgba(36, 156, 209, 1) 100%
		)
		1;
	border-radius: $borderRadius;
	/* background: linear-gradient(
		120deg,
		rgba(35, 79, 153, 1) 0%,
		rgba(35, 120, 184, 1) 35%,
		rgba(36, 156, 209, 1) 80%
	); */
	background-color: rgba(35, 79, 153, 0.2);
	margin: 20px;
}

.heading {
	font-family: Syncopate, sans-serif;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: var(--color-soft);
}

.text {
	overflow: hidden;
	text-overflow: ellipsis;
}

.bold {
	font-family: Syncopate;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
}
