@use "@gear-js/ui/variables" as *;

.footer {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
	border-top: 1px solid #c5e5f3;
	position: absolute;
	bottom: 0;
	width: 95%;
	max-width: 1200px;
	height: 86px;
}
