@use "assets/styles";
@use "@gear-js/ui/variables" as *;

#root {
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
}
:root {
	--main-bg-color: #0c2650;
	--text-color: #e3e7f1;
	--text-light: #f5f5f5;
	--second-color: #225097;
	--third-color: #2378b8;
	--fourth-color: #249cd1;
	--color-soft: #c5e5f3;
}

main {
	flex: 1;
	padding: 30px 0 60px;
	position: relative; // for loaders
}

body {
	/* background: $bgColor url(assets/images/bg.svg); */
	// background-color: #494ca2;
	/* 	color: #e3e7f1;
	background: rgb(73, 76, 162);
	background: linear-gradient(
		90deg,
		rgb(17, 0, 158) 2%,
		rgb(129, 134, 213) 100%,
		rgb(198, 203, 239) 130%, *
				rgb(39, 55, 77) 2%,
		rgb(82, 109, 130) 30%,
		rgb(157, 178, 191) 90% 
	); */

	background: rgb(35, 79, 153);
	background: linear-gradient(
		120deg,
		rgba(35, 79, 153, 1) 0%,
		rgba(35, 120, 184, 1) 45%,
		rgba(36, 156, 209, 1) 100%
	);
}
.waves {
	position: absolute;
	z-index: -1;
	filter: opacity(0.2) drop-shadow(0 0 0 #249cd1);
	width: 200px;
}

.waves:nth-child(2) {
	width: 100px;
	top: 10vh;
	left: 400px;
}
.waves:nth-child(3) {
	width: 80px;
	top: 500px;
	left: 100px;
}
.waves:nth-child(4) {
	width: 120px;
	top: 500px;
	left: 700px;
}
.waves:nth-child(5) {
	width: 120px;
	top: 1500px;
	left: 1400px;
}
.waves:nth-child(6) {
	width: 100px;
	top: 200px;
	left: 1300px;
}
.waves:nth-child(7) {
	width: 140px;
	top: 1000px;
	left: 300px;
}
.waves:nth-child(8) {
	width: 120px;
	top: 1400px;
	left: 300px;
}
.waves:nth-child(9) {
	width: 90px;
	top: 900px;
	left: 800px;
}
.waves:nth-child(10) {
	width: 190px;
	top: 500px;
	left: 1800px;
}
.waves:nth-child(11) {
	width: 140px;
	top: 1200px;
	left: 1800px;
}
